name: Sync to Vercel Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
        
      - name: Remove workflow directory
        run: rm -rf .github
        
      - name: Push to Vercel Repo
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add -A
          git commit -m "Sync to Vercel" || echo "No changes to commit"
          git push https://${{ secrets.SECOND_REPO_TOKEN }}@github.com/warmace101/team17.git HEAD:main --force
        env:
          GITHUB_TOKEN: ${{ secrets.SECOND_REPO_TOKEN }}
